.std-img{
    height: 7rem;
    width: 7rem;
    align-items: center;
    border-radius: 50%;
    margin-left:5rem;
}

.card-main{
 border-width: 5px;
 border-color:rgb(90, 197, 233);
 cursor: pointer;
}